<html>
    <head>
    </head>
    <body>
        <h1><center>Top 5 Greatest Producers</center></h1>
        <h1><center><img src="/static/Ye-2.jpg" /></center></h1>
        <h1><center><a href="https://genius.com/artists/Kanye-west">Kanye West</a></center></h1>
        <h1><img src= {{ coverart }} style="width:150px;height:150px;" /></h1>
        <h2>Name of the song: {{ song }}</h2>
        <h3>Artist: {{ artist }}</h3>
        <h2>What is the world saying?</h2>
        <h4>{{ tweets }}</h4>
    </body>
</html>